################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs/
.suo
.pubxml
.user
/Dhbw positioning System Backend/Dhbw positioning System Backend/bin
/Dhbw positioning System Backend/Dhbw positioning System Backend/obj