################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs/
.vscode
.idea
.suo
/backend/Dhbw positioning System Backend/bin
/backend/Dhbw positioning System Backend/obj
/backend/Dhbw positioning System Backend/out



