################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vscode
.vs/
.idea
.suo
.pubxml
.user
/backend/Dhbw positioning System Backend/bin
/backend/Dhbw positioning System Backend/obj
/backend/out