<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Info</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="info">
    <h1>DHBW Positioning System</h1>
    <p>Diese App ermöglicht es dir dich dezentralisiert und unabhänig von Positionsdiensten wie Google oder GPS auf dem
      DHBW-Campus zu orten.</p>
    <p>Die Anwendung misst hierfür die Signalstärke zu mindestens drei umliegenden WiFi-Access-Points und errechnet
      mittels Lateration deine Position.</p>

    <h2>Ersteller</h2>
    <p>Lukas Holler (TINF20B2)</p>
    <p>Leon Neumann (TINF20B2)</p>

    <h2>OpenSource</h2>
    <a href="https://github.com/lukas-hllr/dhbw-positioning-system">GitHub</a>
  </div>
</ion-content>
