.map-container {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
}

#bottomDiv {
  position: absolute;
  bottom: 30px;
  right: 15px;
  left: 15px;
  z-index: 400;
}

#refreshButton {
  float: right;
}

#debugSendDiv {
  display: flex;
  border-radius: 28px;
  height: 56px;
  margin-right: 71px;
  background: red;
}

#sendClickedButton {
  float: right;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
}

#coords {
  line-height: 23px;
  flex-grow: 1;
  padding: 5px 0 5px 25px;
}

#coords span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
