<ion-content [fullscreen]="true">
  <div class="map-container">
    <div id="map"></div>

    <div id="bottomDiv">
      <button mat-fab id="refreshButton" color="primary" (click)="refresh()">
        <mat-icon>my_location</mat-icon>
      </button>

      <div id="debugSendDiv">
        <span>{{this.clickedPos}}</span>
        <button mat-mini-fab id="sendClickedButton" color="accent" (click)="sendCurrentPos()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>


  </div>
</ion-content>
