<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Debug
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Debug</ion-title>
    </ion-toolbar>
  </ion-header>

  <button
    mat-raised-button
    class="sendButton"
    (click)="this.apScanService.scan()"
  >
    Scan
  </button>

  <mat-accordion>

    <mat-expansion-panel *ngFor="let m of this.apScanService.storedMeasurements" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{m.measurements.length + ' APs'}}
        </mat-panel-title>
        <mat-panel-description>
          {{m.timestamp | date:'MMM d, y, H:mm:ss'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <pre>
  <code>
     {{ m | json }}
  </code>
</pre>
    </mat-expansion-panel>
  </mat-accordion>


</ion-content>
